<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Post App</title>
</head>


<body>
    <div id="content">
        <!-- Content will be dynamically updated here -->
    </div>
    <div>
        <label for="user-name">User Name:</label>
        <input type="text" id="user-name" />
        <br />
        <label for="post-message">Post Message:</label>
        <textarea id="post-message"></textarea>
        <br />
        <button id="create-post-btn">Create Post</button>
    </div>
    <div>
        <label for="search-input">Search:</label>
        <input type="text" id="search-input" />
        <button id="search-btn">Search</button>
    </div>
    <script src="main.js"></script>
</body>
